$bgColor: #fff;
$txtColor: #ff5722;

@media (max-width: 767px) {
  .full-height {
    height: 100%;
  }
  #mobileAbout {
    display: block;
  }
  #desktopAbout {
    display: none;
  }
}

@media (min-width: 768px) {
  .full-height {
    height: 100%;
  }
  #desktopAbout {
    display: block;
  }
  #mobileAbout {
    display: none;
  }
}

.full-height {
  background-color: $bgColor;
  color: $txtColor;
  width: 100%;
  font-family: Helvetica, Arial, sans-serif;
  #about {
    width: 100%;
    height: 10%;
    padding: 18px;
  }
  .container {
    height: 100%;
    .row {
      height: 100%;
      #carouselAbout {
        height: 100%;
        width: 100%;
        .carousel-inner {
          background-color: $bgColor;
        }
        .carousel-control-prev-icon {
          background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' stroke='rgba(0,0,0, 0.5)' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
        }
        .carousel-control-next-icon {
          background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' stroke='rgba(0,0,0, 0.5)' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
        }
        .carousel-indicators li {
          background-color: #bdbdbd;
        }
        .carousel-indicators .active {
          background-color: #ff5722;
        }
        .carousel-item {
          padding: 4px;
          .col.values {
            text-align: left;
            padding-left: 25px;
            i{
              font-size: 15px;
            }
          }
        }
      }
      .box-msg {
        // background-color: #bdbdbd;
        width: 80%;
        margin-left: 10%;
        color: black;
        text-align: left;
        p {
          padding: 4px;
          b {
            color: #ff5722;
          }
        }
      }
    }
  }

  #desktopAbout {
    width: 100%;
    height: 90%;
    #content {
      width: 100%;
      height: 10%;
      margin: 0;
      padding: 2px;
    }
    .box-1,
    .box-2 {
      width: 50%;
    }

    #box-content {
      width: 100%;
      height: 90%;
      margin: 0;
      padding: 2px;
    }
    .box-title {
      width: 100%;
      border-bottom: 1.3px solid #ff5722;
      h4 {
        color: #ff5722 !important;
      }
    }
    .box-1,
    .box-2 {
      text-align: left;
      padding-top: 10px;
      padding-left: 10px;
      padding-right: 8px;
      .card-info {
        // box-shadow: 2px 2px #BDBDBD;
        border-radius: 8px;
        :hover {
          cursor: pointer;
        }
        h4 {
          text-align: center;
          padding-left: 0;
        }
      }
      .card-info.left {
        background-color: rgb(201, 12, 12);
        height: 60px;
        width: 42%;
        margin-left: 6%;
        transition: all 2s;
      }
      .card-info.left:hover {
        background-color: #df603a;
      }
      .card-info.right {
        background-color: rgb(201, 12, 12);
        height: 60px;
        width: 42%;
        margin-left: 1%;
        transition: all 1s;
      }
      .card-info.right:hover {
        background-color: #df603a;
      }

      p {
        font-size: 1.17vw;
      }
      h4 {
        margin: 0px;
        padding-top: 17px;
        padding-left: 10px;
        text-align: left;
        font-size: 1.5vw;
        color: #fff;
      }
      h6 {
        color: #e64a19;
      }
      .noShow {
        display: none;
      }
      .show {
        display: block;
        animation: fadein 2s;
      }

      @keyframes fadein {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }
    }

    .box-1 {
      .row {
        margin-top: 5px;
      }
    }
  }
}

i.fa-plus:hover {
  transition: transform 0.5s ease-in;
  transform: rotate(90deg);
}
