<!-- Criar componente para parte abaixo -->
<div id="about" class="full-height">
  <!-- <div>
    <h2 style="margin-bottom: 0px;">Sobre nós</h2>
  </div> -->
  <div class="container" id="mobileAbout">
    <div class="row">
      <div id="carouselAbout" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselAbout" data-slide-to="0" class="active"></li>
          <li data-target="#carouselAbout" data-slide-to="1"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="row">
              <div class="col">
                <h4><b>A Empresa</b></h4>
                <p>A portal fisco representa a união e dedicação de profissionais capacitados,
                  que visam atender às necessidades dos nossos clientes, através da disseminação
                  do conhecimento e da oferta de soluções a gestores e empreendedores, dispostos
                  a transformar ideias em negócio lucrativo. Frente a uma ampla gama de produtos
                  e serviços integrados, concomitante às constantes alterações que afetam as
                  rotinas empresariais, nosso alicerce se encontra na formulação de modelo consolidado
                  de proposta de soluções nas áreas Tributária, Fiscal e Tecnologia da Informação.
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <h4>Ajudar a sua empresa a crescer</h4>
                <div class="box-msg">
                  <p><b>&quot;Processos</b> Todos os processos implantados
                    têm como
                    essência o potencial crescimento da sua empresa, assim os mesmos, passam por cuidadosas
                    avaliações e pelo crivo dos gestores da área.
                  </p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <h4>Soluções no tempo que você precisa</h4>
                <div class="box-msg">
                  <p><b>&quot;Tecnologia</b> Soluções específicas e no tempo determinado.
                    Contamos com
                    especialistas na área de Tecnologia, hábeis e capacitados para atender demandas peculiares,
                    dos diversos segmentos existentes.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <h4><b>Nossos Valores</b></h4>
            <div class="row">
              <div class="col values">
                <h4 data-toggle="collapse" data-target="#collapseMission" aria-expanded="false" aria-controls="collapseMission">Nossa
                  Missão <i class="fas fa-plus"></i></h4>
                <p class="collapse" id="collapseMission">A missão da portal fisco é desenvolver soluções inovadoras e
                  fornecer serviços
                  de Consultoria integrados com tecnologia. O nosso propósito corporativo é satisfazer
                  o cliente no tempo necessário, garantir o melhor desempenho no atendimento e viabilizar
                  tomadas de decisões eficientes e coesas.
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col values">
                <h4 data-toggle="collapse" data-target="#collapseObjectives" aria-expanded="false" aria-controls="collapseObjectives">Nossos
                  Objetivos <i class="fas fa-plus"></i></h4>
                <p class="collapse" id="collapseObjectives">Oferecer serviços e soluções integrados, nas áreas de
                  Tributário, Fiscal e Tecnologia,
                  que se enquadrem nos propósitos peculiares de nossos clientes, servindo-os de forma única e efetiva.
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col values">
                <h4 data-toggle="collapse" data-target="#collapseValues" aria-expanded="false" aria-controls="collapseValues">Valores
                  Compartilhados <i class="fas fa-plus"></i></h4>
                <p class="collapse" id="collapseValues">Nossas Operações são conduzidas com integridade, respeitos aos
                  direitos e interesses de nossos clientes
                  e parceiros, e também, em conformidade às leis e regulamentos vigentes. Assim, os benefícios mútuos e
                  bons resultados são frutos do relacionamento baseado na confiança estabelecida.
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col values">
                <h4 data-toggle="collapse" data-target="#collapsePeople" aria-expanded="false" aria-controls="collapsePeople">Pessoas
                  <i class="fas fa-plus"></i></h4>
                <p class="collapse" id="collapsePeople">Gestão de profissionais capazes de atuar conforme nossa missão
                  e princípios. Como prioridade, assegurar ambiente de trabalho dinâmico, inovador e hábil a oferecer
                  potenciais resultados e serviços e assim, valorizar nossos clientes e parceiros.
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col values">
                <h4 data-toggle="collapse" data-target="#collapseExcelense" aria-expanded="false" aria-controls="collapseExcelense">Excelência
                  <i class="fas fa-plus"></i></h4>
                <p class="collapse" id="collapseExcelense">Trabalhamos com altos padrões de excelência profissional
                  no que tange a integridade, conhecimento, atendimento, tempo e entregas.
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col values">
                <h4 data-toggle="collapse" data-target="#collapsePunctuality" aria-expanded="false" aria-controls="collapsePunctuality">Pontualidade
                  <i class="fas fa-plus"></i></h4>
                <p class="collapse" id="collapsePunctuality">Comprometimento com os prazos e demandas determinado pelo
                  cliente. Pontualidade para com os deveres e compromissos são valores inerentes a Portal Fisco.
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col values">
                <h4 data-toggle="collapse" data-target="#collapseInovation" aria-expanded="false" aria-controls="collapseInovation">Inovação
                  <i class="fas fa-plus"></i></h4>
                <p class="collapse" id="collapseInovation">
                  Inovar é evoluir. Acompanhar as mudanças é crescer com elas.
                </p>
              </div>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselAbout" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselAbout" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
  <div id="desktopAbout">
    <div id="content" class="row">
      <div class="box-1">
        <div class="box-title">
          <h4>A Empresa</h4>
        </div>
      </div>
      <div class="box-2">
        <div class="box-title">
          <h4>Nossos Valores</h4>
        </div>
      </div>
    </div>
    <div id="box-content" class="row">
      <div class="box-1">
        <p>A Portal Fisco representa a união e dedicação de profissionais capacitados, que visam atender às
          necessidades dos nossos clientes, através da disseminação do conhecimento e da oferta de soluções a gestores
          e empreendedores, dispostos a transformar ideias em negócio lucrativo.
        </p>
        <p>
          Frente a uma ampla gama de produtos e serviços integrados, concomitante às constantes alterações que afetam
          as rotinas empresariais, nosso alicerce se encontra na formulação de modelo consolidado de proposta de
          soluções nas áreas Tributária, Fiscal e Tecnologia da Informação.
        </p>
        <div class="row">
          <div (click)="viewDetail('processo')" class="card-info left">
            <h4>PROCESSOS</h4>
          </div>
          <div (click)="viewDetail('operacional')" class="card-info right">
            <h4>OPERACIONAL</h4>
          </div>
        </div>
        <div class="row">
          <div (click)="viewDetail('tecnologia')" class="card-info left">
            <h4>TECNOLOGIA</h4>
          </div>
          <div (click)="viewDetail('comercial')" class="card-info right">
            <h4>COMERCIAL</h4>
          </div>
        </div>
        <div class="row" >
          <span class="noShow title-des" [class.show]="show"><i class="fas fa-arrow-down"></i></span>
        </div>
        <div class="row" >
          <span class="noShow title-des" [class.show]="show"><b>{{type}}</b></span>
        </div>
        <div class="row noShow" [class.show]="show">
          <div class="box-des">
            <p><b>{{textType}}</b></p>
          </div>
        </div>
      </div>
      <div class="box-2">
        <h6><b>Nossa Missão</b></h6>
        <p>A missão da Portal Fisco é desenvolver soluções inovadoras e fornecer serviços de Consultoria integrados com
          Tecnologia. O nosso propósito corporativo é satisfazer o cliente no tempo necessário, garantir o melhor
          desempenho no atendimento e viabilizar tomadas de decisões eficientes e coesas.
        </p>
        <h6><b>Nossos Objetivos</b></h6>
        <p>O objetivo da empresa é oferecer serviços e soluções integrados, nas áreas de Tributário, Fiscal e
          Tecnologia, que se enquadrem nos propósitos peculiares de nossos clientes, servindo-os de forma única e
          efetiva.
        </p>
        <h6><b>Valores Compartilhados</b></h6>
        <p>Nossas operações são conduzidas com integridade, respeito aos direitos e interesses de nossos clientes e
          parceiros, e também em conformidade às leis e regulamentos vigentes. Assim, os benefícios mútuos e bons
          resultados são frutos do relacionamento baseado na confiança estabelecida.
        </p>
        <h6><b>Pessoas</b></h6>
        <p>Gestão de profissionais capazes de atuar conforme nossa missão e princípios. Como prioridade, assegurar
          ambiente de trabalho dinâmico, inovador e hábil a oferecer potenciais resultados e serviços e assim,
          valorizar nossos clientes e parceiros.
        </p>
        <h6><b>Excelência</b></h6>
        <p>Trabalhamos com altos padrões de excelência profissional no que tange a integridade, conhecimento,
          atendimento, tempo e entregas.
        </p>
        <h6><b>Pontualidade</b></h6>
        <p>Comprometimento com os prazos e demandas determinado pelo cliente. Pontualidade para com os deveres e
          compromissos são valores inerentes a Portal Fisco.
        </p>
      </div>
    </div>
  </div>
</div>