<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="float-left">
    <a class="navbar-brand" routerLink="/">
      <img src="../../assets/images/logo.png" alt="PortalFisco">
    </a>
  </div>
  <button class="navbar-toggler togglePos" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" routerLink="/">Inicio</a>
      <a class="nav-item nav-link" routerLink="/">Suporte</a>
      <a class="nav-item nav-link" routerLink="/">Ajuda</a>
      <a class="nav-item nav-link" routerLink="/">Sobre</a>
      <div class="user-access">
        <a class="nav-item nav-link" routerLink="/">Área do usuário</a>
      </div>
    </div>
  </div>
</nav>