<div class="full-height" style="background-color: #BDBDBD">
    <div class="container h-100">
      <div class="row h-100 justify-content-center align-items-center">
        <div class="input-group input-group-lg">
          <input type="text" class="form-control" aria-label="Sizing example input" 
          aria-describedby="inputGroup-sizing-lg" placeholder="Digite a descrição do produto, NCM ou GTIN">
          <div class="input-group-prepend">
            <span><button class="btn btn-secondary">Buscar</button></span>
          </div>
        </div>
      </div>
    </div>
  </div>
