<div class="full-height" style="background-color: #BDBDBD">
    <div class="container h-100">
      <div class="row h-100 justify-content-center align-items-center">
        <div class="input-group input-group-lg">
          <input type="text" class="form-control" aria-label="Sizing example input" 
          aria-describedby="inputGroup-sizing-lg" placeholder="Digite a descrição do produto, NCM ou GTIN">
          <div class="input-group-prepend">
            <span><button class="btn btn-secondary">Buscar</button></span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Criar componente para parte abaixo -->
  <div class="full-height" style="background-color:#ff5722;">
    <p style="color: white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi quis, eligendi accusamus id, quia numquam iusto
      porro dolores cumque aliquam accusantium explicabo! Voluptate, saepe nemo? Sint veritatis accusamus nostrum
      distinctio! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla inventore animi impedit quam pariatur
      numquam repudiandae eius cumque, natus cupiditate. Facere itaque corporis pariatur consectetur voluptatem veniam
      odio, molestias. Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat numquam aliquid porro nulla,
      possimus consequuntur, dicta nobis veritatis dolorum repellendus pariatur quae iusto quos. Dolorem placeat non
      doloremque distinctio voluptate? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequuntur nobis
      accusamus reiciendis dolore unde modi qui eos nulla, sit dolor ipsum consectetur minus excepturi placeat tempore
      expedita! Ad, minima rem. Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit omnis quidem veniam odit
      dicta natus nisi aspernatur adipisci debitis facere, saepe aliquid necessitatibus atque. Vero sit veritatis
      accusamus
      et beatae. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate natus distinctio sapiente vero,
      autem,
      maxime similique debitis, sint adipisci alias eum. Architecto velit laborum ullam excepturi pariatur unde,
      voluptatem
      ad.
  
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus voluptatem debitis distinctio obcaecati
      blanditiis
      dignissimos saepe asperiores iure tenetur, adipisci ex quos error doloremque, repellat amet quaerat fuga nihil
      nostrum?
  
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta repellat maxime quisquam vero saepe magni dolorum
      asperiores quos quia similique fugiat repudiandae, tempore ipsa velit error, reprehenderit tenetur a minima?
  
  
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem eligendi quasi pariatur corrupti ipsum aliquid
      eum aut cum deleniti aperiam sunt rem blanditiis, esse quo unde quibusdam voluptatum eius? Saepe!
  
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, nostrum consectetur quis cum inventore accusantium
      unde autem odio dolores recusandae laboriosam ducimus officiis iusto explicabo voluptates earum nisi atque maiores.
    </p>
  </div>