<!-- Criar componente para parte abaixo -->
<div class="full-height">
  <div class="container" id="mobileSupport">
    <div class="row">
      <div id="carouselSuporte" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselSuporte" data-slide-to="0" class="active"></li>
          <li data-target="#carouselSuporte" data-slide-to="1"></li>
          <li data-target="#carouselSuporte" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="row">
              <div class="col">
                <h2>Serviços de apoio</h2>
                <p>Nada melhor do que ouvir quem mais entende dos nossos produtos e serviços: Você, cliente.</p>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col">
                <h4>SAC</h4>
                <p>Nossa equipe está a sua disposição através dos canais de e-mail ou telefone, de segunda a sexta
                  das 08:00 as 18:00hrs.</p>
                <p>Sua opnião é fundamental para que o Portal Fisco possa, cada vez mais, inovar e oferecer o melhor
                  a você em produtos e serviçõs.</p>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col">
                <h4>Service Desk</h4>
                <p>A missão do nosso service desk é o restabelecimento da operação normal dos serviços dos clientes
                  o mais rápido possível, minimizando o impacto e riscos nos negócios causados por dúvidas. Realizamos
                  a abertura de atendimento (ticket) a partir das ligações ou e-mails enviados ao Portal Fisco, tendo
                  como critério antendê-los em no máximo 1:30hs após o registro do ticket no sistema.
                </p>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col">
                <h4>Material de Apoio</h4>
                <p>Disponibilizamos manuais, guias práticos e apostilas que ajudam o cliente no dia-a-dia com as
                  principais
                  dúvidas e tarefas.
                </p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <h2>Suporte</h2>
            <p>Nossa equipe de suporte está capacitada para oferecer o melhor apoio aos nossos clientes, de modo
              a proporcionar o aumento de sua produtividade através do uso da tecnologia dos nossos produtos e
              serviços.
              Tendo como principal foco o Cliente, a área de Suporte oferece serviços de apoio, suporte técnico e
              treinamento
              qualificado com profissionais treinados para oferecer serviços de alta qualidade e eficiência. </p>
            <br>
            <p>Estamos prontos para atender e solucionar suas dúvidas, com uma equipe de analistas de suporte
              altamente preparados e qualificados. Conte conosco e envie suas dúvidas, seu projeto e sugestões,
              teremos satisfação em responder.
            </p>
          </div>
          <div class="carousel-item">
            <h2>Qualidade</h2>
            <div class="row">
              <div class="col">
                <span class="float-left"><img id="q1" src="../../../assets/images/quality-1.jpg" alt="Call Center"></span>
              </div>
              <div class="col" id="d1">
                <p>Atendimento eficiente é a nossa prioridade.</p>
              </div>
            </div>
            <div class="row">
              <div class="col" id="d2">
                <p>Qualidade no atendimento é o nosso diferencial.</p>
              </div>
              <div class="col">
                <span class="float-left"><img id="q2" src="../../../assets/images/quality-2.jpg" alt="Call Center"></span>
              </div>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselSuporte" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselSuporte" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
  <div id="desktopSupport">
    <div id="content" class="row">
      <div class="box-1">
        <div class="box-title">
          <h4>Serviços de apoio</h4>
        </div>
      </div>
      <div class="box-2">
        <div class="box-title">
          <h4>Suporte</h4>
        </div>
      </div>
      <div class="box-3">
        <div class="box-title">
          <h4>Qualidade</h4>
        </div>
      </div>
    </div>
    <div id="box-content" class="row">
      <div class="box-1">
        <p>Nada melhor do que ouvir quem mais entende dos nossos produtos e serviços: Você, cliente.</p>
        <h6>SAC</h6>
        <p>Nossa equipe está a sua disposição através dos canais de e-mail ou telefone, de segunda a sexta
          das 08:00 as 18:00hrs.</p>
        <p>Sua opnião é fundamental para que o Portal Fisco possa, cada vez mais, inovar e oferecer o melhor
          a você em produtos e serviçõs.</p>
        <h6>Service Desk</h6>
        <p>A missão do nosso service desk é o restabelecimento da operação normal dos serviços dos clientes
          o mais rápido possível, minimizando o impacto e riscos nos negócios causados por dúvidas. Realizamos
          a abertura de atendimento (ticket) a partir das ligações ou e-mails enviados ao Portal Fisco, tendo
          como critério antendê-los em no máximo 1:30hs após o registro do ticket no sistema.
        </p>
        <h6>Material de Apoio</h6>
        <p>Disponibilizamos manuais, guias práticos e apostilas que ajudam o cliente no dia-a-dia com as
          principais
          dúvidas e tarefas.
        </p>
      </div>
      <div class="box-2">
        <p>Nossa equipe de suporte está capacitada para oferecer o melhor apoio aos nossos clientes, de modo
          a proporcionar o aumento de sua produtividade através do uso da tecnologia dos nossos produtos e
          serviços.
          Tendo como principal foco o Cliente, a área de Suporte oferece serviços de apoio, suporte técnico e
          treinamento
          qualificado com profissionais treinados para oferecer serviços de alta qualidade e eficiência. </p>
        <br>
        <p>Estamos prontos para atender e solucionar suas dúvidas, com uma equipe de analistas de suporte
          altamente preparados e qualificados. Conte conosco e envie suas dúvidas, seu projeto e sugestões,
          teremos satisfação em responder.
        </p>
      </div>
      <div class="box-3">
        <span class="img"><img id="q1" src="../../../assets/images/quality-1.jpg" alt="Call Center"></span>
        <p>Atendimento eficiente é a nossa prioridade.</p>
        <span class="img"><img id="q2" src="../../../assets/images/quality-2.jpg" alt="Call Center"></span>
        <p>Qualidade no atendimento é o nosso diferencial.</p>
      </div>
    </div>
  </div>
</div>

<!-- <div class="col-6">
    <div class="card">
      <div class="card-header">
        <h4>Serviços de apoio</h4>
      </div>
      <div class="card-body">
        <p>Nada melhor do que ouvir quem mais entende dos nossos produtos e serviços: Você, cliente.</p>
        <h6>SAC</h6>
        <p>Nossa equipe está a sua disposição através dos canais de e-mail ou telefone, de segunda a sexta
          das 08:00 as 18:00hrs.</p>
        <p>Sua opnião é fundamental para que o Portal Fisco possa, cada vez mais, inovar e oferecer o melhor
          a você em produtos e serviçõs.</p>
        <h6>Service Desk</h6>
        <p>A missão do nosso service desk é o restabelecimento da operação normal dos serviços dos clientes
          o mais rápido possível, minimizando o impacto e riscos nos negócios causados por dúvidas. Realizamos
          a abertura de atendimento (ticket) a partir das ligações ou e-mails enviados ao Portal Fisco, tendo
          como critério antendê-los em no máximo 1:30hs após o registro do ticket no sistema.
        </p>
        <h6>Material de Apoio</h6>
        <p>Disponibilizamos manuais, guias práticos e apostilas que ajudam o cliente no dia-a-dia com as
          principais
          dúvidas e tarefas.
        </p>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card">
      <div class="card-header">
        <h4>Suporte</h4>
      </div>
      <div class="card-body">
        <p>Nossa equipe de suporte está capacitada para oferecer o melhor apoio aos nossos clientes, de modo
          a proporcionar o aumento de sua produtividade através do uso da tecnologia dos nossos produtos e
          serviços.
          Tendo como principal foco o Cliente, a área de Suporte oferece serviços de apoio, suporte técnico e
          treinamento
          qualificado com profissionais treinados para oferecer serviços de alta qualidade e eficiência. </p>
        <br>
        <p>Estamos prontos para atender e solucionar suas dúvidas, com uma equipe de analistas de suporte
          altamente preparados e qualificados. Conte conosco e envie suas dúvidas, seu projeto e sugestões,
          teremos satisfação em responder.
        </p>
      </div>
    </div>
  </div>
  <div class="col-2">
    <div class="card">
      <div class="card-header">
        <h2>Qualidade</h2>
      </div>
      <div class="card-body">
         <span class="float-left"><img id="q1" src="../../../assets/images/quality-1.jpg" alt="Call Center"></span>

<p>Atendimento eficiente é a nossa prioridade.</p>
 <span class="float-left"><img id="q2" src="../../../assets/images/quality-2.jpg" alt="Call Center"></span>

<p>Qualidade no atendimento é o nosso diferencial.</p>

</div>
</div>
</div> -->